@CHARSET "ISO-8859-1";

@font-face {
  font-family: 'fontNormal';
	src: url('../font/official/erasdemi.eot');
	src: local('☺'), url('../font/official/erasdemi.woff') format('woff'), url('../font/official/erasdemi.ttf') format('truetype'), url('../font/official/erasdemi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fontLight';
	src: url('../font/official/eraslight.eot');
	src: local('☺'), url('../font/official/eraslight.woff') format('woff'), url('../font/official/eraslight.ttf') format('truetype'), url('../font/official/eraslight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fontMedium';
	src: url('../font/official/erasmedium.eot');
	src: local('☺'), url('../font/official/erasmedium.woff') format('woff'), url('../font/official/erasmedium.ttf') format('truetype'), url('../font/official/erasmedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* COLOR text & background & Height/Width */
	
	/* COLOR REF */
		/* color X - COLOR NAME - rgba(0,0,0,0)

	/* TXT */
	.txtCL-black-25 {
		color: rgba(0,0,0,0.25) !important;
	}
	.txtCL-black-50 {
		color: rgba(0,0,0,0.50) !important;
	}
	.txtCL-black-75 {
		color: rgba(0,0,0,0.75) !important;
	}
	.txtCL-black-100 {
		color: rgba(0,0,0,1) !important;
	}
	.txtCL-white-25 {
		color: rgba(255,255,255,0.25) !important;
	}
	.txtCL-white-50 {
		color: rgba(255,255,255,0.50) !important;
	}
	.txtCL-white-75 {
		color: rgba(255,255,255,0.75) !important;
	}
	.txtCL-white-100 {
		color: rgba(255,255,255,1) !important;
	}
	/* END TXT */

	/* BCKG */
	.bckgCL-black-25 {
		background: rgba(0,0,0,0.25) !important;
	}
	.bckgCL-black-50 {
		background: rgba(0,0,0,0.50) !important;
	}
	.bckgCL-black-75 {
		background: rgba(0,0,0,0.75) !important;
	}
	.bckgCL-black-100 {
		background: rgba(0,0,0,1) !important;
	}
	.bckgCL-white-25 {
		background: rgba(255,255,255,0.25) !important;
	}
	.bckgCL-white-50 {
		background: rgba(255,255,255,0.50) !important;
	}
	.bckgCL-white-75 {
		background: rgba(255,255,255,0.75) !important;
	}
	.bckgCL-white-100 {
		background: rgba(255,255,255,1) !important;
	}

	.bckg-none {
		background: none !important;
	}
	.dspN-N {
		display: none;
	}
	.dspN-F {
		display: none !important;
	}
	.dspB-N {
		display: block;
	}
	.dspB-F {
		display: block !important;
	}
	.dspIB-N {
		display: inline-block;
	}
	.dspIB-F {
		display: inline-block !important;
	}
	/* END BCKG */

	/* POSITION */
	.absolute {
		position: absolute !important;
	}
	.relative {
		position: relative !important;
	}
	.fixed {
		position: fixed !important;
	}
	/* END POSITION */


	/* HEIGHT */
	.height-25 {
		height: 25% !important;
	}
	.height-50 {
		height: 50% !important;
	}
	.height-75 {
		height: 75% !important;
	}
	.height-90 {
		height: 90% !important;
	}
	.height-100 {
		height: 100% !important;
	}
	/* END HEIGHT */

	/* WIDTH */
	.width-25 {
		width: 25% !important;
	}
	.width-50 {
		width: 50% !important;
	}
	.width-75 {
		width: 75% !important;
	}
	.width-100 {
		width: 100% !important;
	}
	.widthNorm {
		max-width: 1170px !important;
		margin: auto !important;
	}
	/* END WIDTH */

	/* MARGIN */
	.marginPx-6 {
		margin: 6px !important;
	}
	.marginPx-12 {
		margin: 12px !important;
	}
	.marginPx-24 {
		margin: 24px !important;
	}
	.mgLeftPx-24 {
		margin-left: 24px !important;
	}
	.mgRightPx-24 {
		margin-right: 24px !important;
	}
	.mgLeft-10 {
		margin-left: 10% !important;
	}
	.mgLeft-20 {
		margin-left: 20% !important;
	}
	.mgRight-10 {
		margin-right: 10% !important;
	}
	.mgRight-20 {
		margin-right: 20% !important;
	}
	/* END MARGIN */

	/* PADDING */
	.paddingPx-6 {
		padding: 6px !important;
	}
	.paddingPx-12 {
		padding: 12px !important;
	}
	.paddingPx-24 {
		padding: 24px !important;
	}
	.pdLeftPx-24 {
		padding-left: 24px !important;
	}
	.pdRightPx-24 {
		padding-right: 24px !important;
	}
	.pdLeft-10 {
		padding-left: 10% !important;
	}
	.pdRight-10 {
		padding-right: 10% !important;
	}
	/* END MARGIN */

	/* VISIBILITY */
	.inVisible {
		visibility: hidden !important;
	}
	/* END VISIBILITY */

/* END COLOR  */
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'fontNormal', sans-serif !important;
}
h1{
	font-size: 6em;
}
h2{
	font-size: 4em;
}
h3{
	font-size: 2em;
}
.alLeft {
	text-align: left !important;
}
.alRight {
	text-align: right !important;
}
.alCenter {
	text-align: center !important;
}
.fontNormal {
	font-family: 'fontNormal', sans-serif !important;
}
.fontBold {
	font-family: 'fontMedium', sans-serif !important;
}
.fontLight {
	font-family: 'fontLight', sans-serif !important;
}
.lowCase {
	text-transform: lowercase !important;
}
.upCase {
	text-transform: uppercase !important;
}
.capCase {
	text-transform: capitalize !important;
}
.ftSizePx-18 {
	font-size: 18px !important;
}
.ftSizePx-28 {
	font-size: 28px !important;
}
.ftWeight-1 {
	font-weight: 100 !important;
}
.ftWeight-2 {
	font-weight: 200 !important;
}
.ftWeight-3 {
	font-weight: 300 !important;
}
.ftWeight-4 {
	font-weight: 400 !important;
}
.ftWeight-5 {
	font-weight: 500 !important;
}
.ftWeight-6 {
	font-weight: 600 !important;
}
.ftWeight-7 {
	font-weight: 700 !important;
}
.ftWeight-8 {
	font-weight: 800 !important;
}
.ftWeight-9 {
	font-weight: 900 !important;
}

/***** MODIF *****/

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}
/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{ 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.slide{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.sectionContainer {
		width: 100%;
		height: 100%;
	}

	/*Adding for the slides/
	* --------------------------------------- */
	.slideContainer {
		width: 100%;
		height: 100%;
		/*background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));*/
		text-align: center;  /* align the inline(-block) elements horizontally */
	  	font: 0/0 a;         /* remove the gap between inline(-block) elements */
	}

	.slideContainer:before {    /* create a full-height inline block pseudo=element */
	  content: " ";
	  display: inline-block;
	  vertical-align: middle;    /* vertical alignment of the inline element */
	  height: 100%;
	}

	.slideContainer > .centerContainer {
	  max-width: 100%;
	  height: 70%;
	  width: 80%;
	  display: inline-block;
	  vertical-align: middle;  /* vertical alignment of the inline element */
	                           /* reset the font property */
	  font: 16px/1 'fontNormal', sans-serif;
	}

	.vcenter {
	    display: flex;
    	align-items: center;
	}
	.hcenter {
		margin-right:auto;
		margin-left:auto;
	    text-align: center;
	}
	.vBottom {
	    display: flex;
	    align-items: flex-end;
	}

/* Overwriting styles for control arrows/nav for slides
* --------------------------------------- */
	.controlArrow.prev {
		left: 50px;
	}
	.controlArrow.next{
		right: 50px;
	}

	.fp-controlArrow {
		display: none;
	}

/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position: fixed;
		display: none;
		height: 60px;
		width: 100%;
		z-index: 9000;
		text-align: center;
		padding: 30px 0 0 0;
	}
	#header{
		top: 0px;
	}
	#footer{
		bottom: 0px;
	}

	/* Navigation */
	#tf-menu {
		/*padding: 20px;*/
		transition: all 0.8s;
	}
	#tf-menu a.navbar-brand {
		text-transform: uppercase;
		font-family: 'fontLight', sans-serif !important;
		font-size: 18px;
		font-weight: 300 !important;
	}

	#tf-menu.navbar-default .navbar-nav > li > a {
		text-transform: lowercase;
		letter-spacing: 1px;
	}
	.on {
		padding: 0 !important;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		font-weight: 300;
	}

	.navbar-toggle {
		border-radius: 0;
	}


/* Slide Scroll horizontal
* --------------------------------------- */

	/* SLIDE 1
		* --------------------------------------- */

	/* SLIDE 2
		* --------------------------------------- */

	/* SLIDE 3
		* --------------------------------------- */

/* END Scroll horizontal
* --------------------------------------- */


/* Section Scroll vertical
* --------------------------------------- */

	/* SECTION 00
		* --------------------------------------- */
		.logoContainer {
			position: relative;
			top: 0px;
			left: 0px;
			width: 100%;
			max-width: 1170px;
			height: 100vh;
			margin: 0 auto;
			z-index: 0;
			text-align: center;
		}
		.logoContent {
			position: absolute;
			width: 100%;
			height: 100vh;
			top: 0px;
			margin: 0 auto;
			z-index: 1000;
		}
		.logoBlock {
			position: relative;
			width: 400px;
			height: 450px;			
		}
		.logoImg {
			position: relative;
			width: 400px;
			height: 400px;	
		}
		.logoTitle {
			position: relative;
			width: 400px;
			height: 50px;	
		}
		.logoTitleLeft {
			width: 198px;
			height: 50px;	
		}
		.logoTitleRight {
			width: 198px;
			height: 50px;	
		}

	/* SECTION 01
		* --------------------------------------- */

	/* SECTION 02
		* --------------------------------------- */

	/* SECTION 03
		* --------------------------------------- */

	/* SECTION FOOTER
		* --------------------------------------- */

/* END Scroll vertical
* --------------------------------------- */


/* RESPONSIVE CSS
* --------------------------------------- */

	/* PHONE
		* --------------------------------------- */

		@media screen and (max-width:320px) {
			#fp-nav.right {
			    right: 03px;
			}
			#fp-nav.left {
			    left: 03px;
			}
		}

		@media screen and (max-width:480px) {
			#fp-nav.right {
			    right: 0px;
			}
			#fp-nav.left {
			    left: 0px;
			}
		}

		@media screen and (max-width:640px) {
			#fp-nav.right {
			    right: 0px;
			}
			#fp-nav.left {
			    left: 0px;
			}
		}

	/* TABLET
		* --------------------------------------- */

		/* IPad mini */
		@media only screen 
		  and (min-device-width: 768px) 
		  and (max-device-width: 1024px) 
		  and (-webkit-min-device-pixel-ratio: 1) {

		}

		/* IPad */
		@media only screen 
		  and (min-device-width: 768px) 
		  and (max-device-width: 1024px) 
		  and (-webkit-min-device-pixel-ratio: 2) {

		}

		/* GALAXY TAB */
		@media 
		  (min-device-width: 800px) 
		  and (max-device-width: 1280px) {

		}

		/* NEXUS */
		@media screen 
		  and (device-width: 601px) 
		  and (device-height: 906px) 
		  and (-webkit-min-device-pixel-ratio: 1.331) 
		  and (-webkit-max-device-pixel-ratio: 1.332) {

		}

		/* KINDLE FIRE */
		@media only screen 
		  and (min-device-width: 800px) 
		  and (max-device-width: 1280px) 
		  and (-webkit-min-device-pixel-ratio: 1.5) {

		}

	/* LAPTOP
		* --------------------------------------- */

		/* ----------- Non-Retina Screens ----------- */
		@media screen 
		  and (min-device-width: 1200px) 
		  and (max-device-width: 1600px) 
		  and (-webkit-min-device-pixel-ratio: 1) { 

		}

		/* ----------- Retina Screens ----------- */
		@media screen 
		  and (min-device-width: 1200px) 
		  and (max-device-width: 1600px) 
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (min-resolution: 192dpi) { 

		}