.cbp-mc-form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 100%;
	padding: 10px 30px;
	float: left;
}

.cbp-mc-form label {
	display: block;
	padding: 10px 5px 5px 2px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 1px;
	cursor: pointer;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
	color: white;
	line-height: 16px;
	font-size: 16px;
	padding: 5px 10px;
	display: block;
	width: 100%;
	font-family: 'fontLight', sans-serif !important;
}

.cbp-mc-form textarea {
	min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
}

.cbp-mc-form select:focus {
	outline: none;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 20px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	border: none;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 900px;
	border-radius: 2px;
	letter-spacing: 1px;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}