
/* DELAY
	* --------------------------------------- */
	.animDelay-0-25s {
	    -webkit-animation-delay: 0.25s; /* Safari 4.0 - 8.0 */
	    -moz-animation-delay: 0.25s;
		-ms-animation-delay: 0.25s;
		-o-animation-delay: 0.25s;
    	animation-delay: 0.25s;
	}
	.animDelay-0-5s {
	    -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
	    -moz-animation-delay: 0.5s;
		-ms-animation-delay: 0.5s;
		-o-animation-delay: 0.5s;
    	animation-delay: 0.5s;
	}
	.animDelay-0-75s {
	    -webkit-animation-delay: 0.75s; /* Safari 4.0 - 8.0 */
	    -moz-animation-delay: 0.75s;
		-ms-animation-delay: 0.75s;
		-o-animation-delay: 0.75s;
    	animation-delay: 0.75s;
	}
	.animDelay-1s {
	    -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
	    -moz-animation-delay: 1s;
		-ms-animation-delay: 1s;
		-o-animation-delay: 1s;
    	animation-delay: 1s;
	}
	.animDelay-1-5s {
	    -webkit-animation-delay: 1.5s; /* Safari 4.0 - 8.0 */
	    -moz-animation-delay: 1.5s;
		-ms-animation-delay: 1.5s;
		-o-animation-delay: 1.5s;
    	animation-delay: 1.5s;
	}
	.animDelay-2s {
	    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
	    -moz-animation-delay: 2s;
		-ms-animation-delay: 2s;
		-o-animation-delay: 2s;
    	animation-delay: 2s;
	}

/* DURATION
	* --------------------------------------- */
	.animDuration-0-25s {
	    -webkit-animation-duration: 0.25s; /* Safari 4.0 - 8.0 */
	    -moz-animation-duration: 0.25s;
		-ms-animation-duration: 0.25s;
		-o-animation-duration: 0.25s;
    	animation-duration: 0.25s;
	}
	.animDuration-0-5s {
	    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
	    -moz-animation-duration: 0.5s;
		-ms-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
    	animation-duration: 0.5s;
	}
	.animDuration-0-75s {
	    -webkit-animation-duration: 0.75s; /* Safari 4.0 - 8.0 */
	    -moz-animation-duration: 0.75s;
		-ms-animation-duration: 0.75s;
		-o-animation-duration: 0.75s;
    	animation-duration: 0.75s;
	}
	.animDuration-1s {
	    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	    -moz-animation-duration: 1s;
		-ms-animation-duration: 1s;
		-o-animation-duration: 1s;
    	animation-duration: 1s;
	}
	.animDuration-1-5s {
	    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
	    -moz-animation-duration: 1.5s;
		-ms-animation-duration: 1.5s;
		-o-animation-duration: 1.5s;
    	animation-duration: 1.5s;
	}
	.animDuration-2s {
	    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	    -moz-animation-duration: 2s;
		-ms-animation-duration: 2s;
		-o-animation-duration: 2s;
    	animation-duration: 2s;
	}

/* Animation de l'icone Scroll-Down
	* --------------------------------------- */
	.scroll-down {
	    display: block;
	    width: 33px;
	    height: 25px;
	    position: absolute;
	    bottom: 25px;
	    right: 0;
	    left:0;
	    z-index: 6000;
	    margin:auto;
	    background:url('../../images/icon/icon-banner.png') no-repeat center top;
	    cursor: pointer;

	    -webkit-animation: icon-ef 1.5s ease infinite;
	    -moz-animation: icon-ef 1.5s ease infinite;
	    animation: icon-ef 1.5s ease infinite;
	}
	@-webkit-keyframes icon-ef {
	    0%{opacity: 0.2; bottom: 30px;}
	    50%{opacity: 1; bottom: 25px;}
	    100%{opacity: 0.2; bottom: 30px;}
	}
	@-moz-keyframes icon-ef {
	    0%{opacity: 0.2; bottom: 30px;}
	    50%{opacity: 1; bottom: 25px;}
	    100%{opacity: 0.2; bottom: 30px;}
	}
	@keyframes icon-ef {
	    0%{opacity: 0.2; bottom: 30px;}
	    50%{opacity: 1; bottom: 25px;}
	    100%{opacity: 0.2; bottom: 30px;}
	}