@CHARSET "ISO-8859-1";

/* COLOR text & background & Height/Width */
	
	/* COLOR REF */
		/* color X - COLOR NAME - rgba(0,0,0,0)

	/* TXT */
	.txtCL-color1-25 {
		color: rgba(255,255,0,0.25) !important;
	}
	.txtCL-color1-50 {
		color: rgba(255,255,0,0.50) !important;
	}
	.txtCL-color1-75 {
		color: rgba(255,255,0,0.75) !important;
	}
	.txtCL-color1-100 {
		color: rgba(255,255,0,1) !important;
	}
	.txtCL-color2-25 {
		color: rgba(204,217,26,0.25) !important;
	}
	.txtCL-color2-50 {
		color: rgba(204,217,26,0.50) !important;
	}
	.txtCL-color2-75 {
		color: rgba(204,217,26,0.75) !important;
	}
	.txtCL-color2-100 {
		color: rgba(204,217,26,1) !important;
	}
	/* END TXT */

	/* BCKG */
	.bckgCL-color1-25 {
		background: rgba(255,255,0,0.25) !important;
	}
	.bckgCL-color1-50 {
		background: rgba(255,255,0,0.50) !important;
	}
	.bckgCL-color1-75 {
		background: rgba(255,255,0,0.75) !important;
	}
	.bckgCL-color1-100 {
		background: rgba(255,255,0,1) !important;
	}
	.bckgCL-color2-25 {
		background: rgba(204,217,26,0.25) !important;
	}
	.bckgCL-color2-50 {
		background: rgba(204,217,26,0.50) !important;
	}
	.bckgCL-color2-75 {
		background: rgba(204,217,26,0.75) !important;
	}
	.bckgCL-color2-100 {
		background: rgba(204,217,26,1) !important;
	}
	.gradient-1 {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
	}
	.gradient-2 {
	}
	/* END BCKG */

	/* BORDER */
	.border-L-2 {
		border-left: 2px solid rgba(255,255,255,1) !important;
	}
	/* END BORDER */

	/* SHADOW */
	.inset-50 {
		-webkit-box-shadow: inset 0px 0px 116px 30px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0px 0px 116px 30px rgba(0,0,0,0.5);
		box-shadow: inset 0px 0px 116px 30px rgba(0,0,0,0.5);
	}	
	.outset-50 {
	    position:relative;
	    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	/* END SHADOW */

/* Custom CSS
 * --------------------------------------- */
	body{
		color: rgba(0,0,0,1);
	}
	h1{
		
	}
	h2{
		
	}
	h3{
		
	}
	a, a:visited {
	    color: rgba(255,255,0,1);
	}
	a:hover {
	    color: rgba(38,39,41,1);
	}

	/* Defining each section background/color/style
	* --------------------------------------- */
	#section00{
		background: rgba(255,255,0,1);
	}
	#section01{
		background: rgba(38,39,41,1) url(../../images/bckg/transparent/black-orchid.png);
	}
	#section02{
		background: rgba(51,102,102,1);
	}
	#section03{
		background: rgba(30,48,48,1);
	}
	#sectionFooter{
		background: rgba(22,22,22,1);
	}
	.sectionContainer {
		background-color: rgba(0,0,0,0);
	}

	/*Adding background/color for the slides
	* --------------------------------------- */
	#slide01{
		background: rgba(204,217,26,1);
	}
	#slide02{
		background: rgba(153,179,51,1);
	}
	#slide03{
		background: rgba(102,140,77,1);
	}

	/*Adding background/color for the top menu
	* --------------------------------------- */

	#tf-menu.navbar-default {
		background-color: rgba(0, 0, 0, 0);
		border-color: rgba(0, 0, 0, 0);
	}
	#tf-menu a.navbar-brand {
		color: rgba(255, 255, 255, 1);
	}

	#tf-menu.navbar-default .navbar-nav > li > a {
		color: rgba(255, 255, 255, 1);
	}
	.on {
		background-color: rgba(255, 255, 255, 0) !important;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		color: rgba(50, 50, 50, 1) !important;
		background-color: transparent;
	}
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus {
		background-color: rgba(50, 50, 50, 1);
		border-color: rgba(50, 50, 50, 1);
	}
	.navbar-default .navbar-toggle:hover>.icon-bar {
		background-color: rgba(255, 255, 255, 1);
	}


/* Slide Scroll horizontal
* --------------------------------------- */

	/* SLIDE 1
		* --------------------------------------- */

	/* SLIDE 2
		* --------------------------------------- */

	/* SLIDE 3
		* --------------------------------------- */

/* END Scroll horizontal
* --------------------------------------- */


/* Section Scroll vertical
* --------------------------------------- */

	/* SECTION 00
		* --------------------------------------- */

	/* SECTION 01
		* --------------------------------------- */

	/* SECTION 02
		* --------------------------------------- */

	/* SECTION 03
		* --------------------------------------- */

	/* SECTION FORM/FOOTER
		* --------------------------------------- */

		.cbp-mc-form label {
			color: rgba(255,255,255,1);
		}

		.cbp-mc-form input,
		.cbp-mc-form textarea,
		.cbp-mc-form select {
			color: rgba(255,255,255,1);
			background: transparent;
		}

		.cbp-mc-form input,
		.cbp-mc-form textarea {
			border: 2px solid rgba(255,255,255,1);
		}

		.cbp-mc-form input:focus,
		.cbp-mc-form textarea:focus,
		.cbp-mc-form label:active + input,
		.cbp-mc-form label:active + textarea {
			border: 2px solid rgba(255,255,0,1);
		}

		::-webkit-input-placeholder { /* WebKit browsers */
		    color: rgba(255,255,255,0.5);
		    font-style: italic;
		}

		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color: rgba(255,255,255,0.5);
		    font-style: italic;
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color: rgba(255,255,255,0.5);
		    font-style: italic;
		}

		:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color: rgba(255,255,255,0.5);
		    font-style: italic;
		}

		.cbp-mc-form input.cbp-mc-submit {
			background: rgba(255,255,255,1);
			color: rgba(255,255,0,1);
		}

		.cbp-mc-form input.cbp-mc-submit:hover {
			background: rgba(255,255,0,1);
			color: rgba(255,255,255,1);
		}
		.footer-distributed{
			background-color: rgba(0,0,0,0);
		}

		/* The company logo */

		.footer-distributed h3{
			color: rgba(255,255,255,1);
		}

		.footer-distributed h3 span{
			color: rgba(255,255,0,1);
		}

		/* Footer links */

		.footer-distributed .footer-links{
			color: rgba(255,255,255,1);
		}

		.footer-distributed .footer-company-name{
			color:  rgba(255,255,0,1);
		}

		/* Footer Center */

		.footer-distributed .footer-center i{
			color: rgba(255,255,255,1);
		}


		.footer-distributed .footer-center p{
			color: rgba(255,255,255,1);
		}

		.footer-distributed .footer-center p a{
			color: rgba(255,255,0,1);
		}

		.footer-distributed .footer-center p a:hover{
			color: rgba(255,255,255,1);
		}


		/* Footer Right */

		.footer-distributed .footer-company-about{
			color: rgba(255,255,0,1);
		}

		.footer-distributed .footer-company-about span{
			color: rgba(255,255,255,1);
		}

		.footer-distributed .footer-icons a{
			background-color: rgba(255,255,0,1);

			color: rgba(255,255,255,1);
		}

		.footer-distributed .footer-icons a:hover{
			background-color: rgba(255,255,255,1);
			color: rgba(255,255,0,1);
		}


/* END Scroll vertical
* --------------------------------------- */

/* FULLPAGE
* --------------------------------------- */

	.fp-controlArrow.fp-prev {
	    border-color: transparent rgba(255,255,255,1) transparent transparent;
	}
	.fp-controlArrow.fp-next {
	    border-color: transparent transparent transparent rgba(255,255,255,1);
	}
	#fp-nav ul li a.active span,
	.fp-slidesNav ul li a.active span,
	#fp-nav ul li:hover a.active span,
	.fp-slidesNav ul li:hover a.active span{
	    background: rgba(255,255,255,0);
	    border: 2px solid rgba(255,255,255,1);
	 }
	#fp-nav ul li a span,
	.fp-slidesNav ul li a span {
	    background: rgba(255,255,255,1);
	}
	#fp-nav ul li .fp-tooltip {
	    color: rgba(255,255,255,1);
	}